doctype html
head(lang="de")
    title Seminare - Raw Food Forest
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCellActive: a(href="angebote.html") Angebote
            div.navCell: a(href="galerie.html") Galerie
            div.navCell: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
            div.navCell: a(href="heilrezepte.html") Heilrezepte
            div.navCell: a(href="therapieformen.html") Therapieformen
article#seminare
    #seminareButtons
        a(href="natur-sein.html")
            div
                img(src="img/natur-sein.jpg")
                h1 Natur & Sein
                p.
                    <b>10 Tage-Retreat</b>
                    <br><br>Zur체ck zur Natur
                    <br>Zur체ck zu meinem wahren Ich
                    <br><br>Selbstheilungskr채fte aktivieren
                    <br><br><b>Hier klicken f체r mehr Info...</b>
    #seminareText
        h1 Individuelles Terminangebot
        p.
            Wenn du Interesse hast, ein Wochenende oder ein paar Tage Zeit mit uns
            zu verbringen, schreib uns doch mal an.
            <br><br>Bestimmt finden wir einen geeigneten Termin!
include includes/footer
