doctype html
head(lang="de")
    title Raw Food Forest
    include includes/head
body
    include includes/header
article#index
    img(src="img/banana.jpg").fullWidthImageMarginTopBottom
    img(src="img/river.jpg").fullWidthImage
include includes/footer
