doctype html
hndyead(lang="de")
    title Natur Sein - Raw Food Forest
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCellActive: a(href="angebote.html") Angebote
            div.navCell: a(href="galerie.html") Galerie
            div.navCell: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
            div.navCell: a(href="heilrezepte.html") Heilrezepte
            div.navCell: a(href="therapieformen.html") Therapieformen
article#seminar
include includes/footer
