footer
    div
        a(href="mailto:jens-warneke@web.de").footerCell
            img(src="img/gmail.png")
            p jens-warneke@web.de
        a(href="https://www.facebook.com/Permakultur-Projekt-2017-Raw-foodforestaom-swastika-EsanThail-2655853311152821").footerCell
            img(src="img/facebook.png")
            p Facebook
