header
    img(src="img/header.jpg" style="width: 100%")
    div(style="position: absolute; width: 100%; left: 0%; top: 25%")
        a(href="index.html")
            img#logo(alt="Logo von Raw Food Forest" src="img/logo.png"
                style="display: block; margin: 0 auto; max-width: 75%;" +
                "-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(3px 3px 3px #222);")
